/* Global Styles */

.checklist {
  list-style: none;
  columns: 2;

  color: #1d3557;;
  font-weight: bold;
}

.checklist li::marker {
  content: '✓ ';

  color: rgb(255, 115, 0);
  font-size: 1.3em;


}

nav ul {
    list-style-type: none;
}

.blue {
    color: #1d3557;
    font-style: italic;
}

.orange {
    color: rgb(255, 115, 0);
    font-style: italic;
}


/* Header Styles */

header .container {
  display: flex;
  align-items: center;
  gap: 10px;
}

header p {
    font-style: italic;
}

#top-nav { 
    /*008C8C */

    background-color: #1d3557;
    border-top: 7px solid  #2BB3B1;
    
    border-bottom: 5px solid  rgb(255, 115, 0);
    }

#top-nav a {
    display: block;
    border: 4px solid  #1d3557;
    color: white;
    text-decoration: none;
    width: 100px;
    text-align: center;
    font-weight: bold;

}

#top-nav ul {
    display: flex;
    justify-content: space-evenly;
}

#logo {
    width: 20em;
}

#moto {
    font-size: 2em;
    font-weight: bold;
    color: rgb(255, 115, 0);
}

#test {
    border: 1px solid black;
}



/* Hero Styles */

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 5px solid purple;
}

.hero .btn {
  display: inline-block;
  background: rgb(255, 115, 0);
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 6px;
}


.hero-content {
  position: absolute;
  top: 5%;
  left: 5%;

  
  max-width: 650px;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: 500;
}

#hero-image {
    width: 50em;

}

.center-content {
    max-width: 650px;
    text-align: center;

}

/* Did  You Know? */

aside {

    border-radius: 15%;
    background-color: #1d3557;
    border: 25px solid rgb(255, 115, 0);
    color: white;
    width: 200px;
    height: 200px;
    padding: 20px;
    text-align: center;
}

#mission {
    font-size: 3em;
}


/* Footer Styles */

footer {
border-top: 10px solid rgb(255, 115, 0);
  background-color: #1d3557;
  color: white;
  padding: 40px 0;
  text-align: center;
}